﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Assignment_Prn211.models;

@inject IHttpContextAccessor contx;

@model List<Product>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SNS Sneaker</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="https://media3.scdn.vn/img2/2018/7_2/Rzvn1z.jpg" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function RedirectLogin() {
                window.location = "/Login/Login";
            }
            function RedirectLogout() {
                window.location = "/Login/Logout";
            }
            function RedirectDetailAcc() {
            window.location = "/User/Profile";
            }
            function RedirectManage() {
                window.location = "/Assigment/manage";
            }
            function RedirectOrderHistory() {
                window.location = "/Assigment/orderhistory";
            }
        </script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">SNS Sneaker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="list">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>               
                    </ul>
                    <form action="Home" class="d-flex mx-auto ">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                   

                @if (contx.HttpContext.Session.GetString("User") != null)
                {
                        <button class="btn btn-outline-dark ms-lg-2" onclick="RedirectDetailAcc()">@contx.HttpContext.Session.GetString("User")</button>
                        <button class="btn btn-outline-dark ms-lg-2" onclick="RedirectLogout()">Log out</button>
                        <button class="btn btn-outline-dark ms-lg-2" onclick="RedirectOrderHistory()">Order History</button>
                }
                        

                    <c:if test="${sessionScope.accuont.roll == 'Admin'}">
                        <button class="btn btn-outline-dark ms-lg-2" onclick="RedirectManage()">Manage</button>
                    </c:if>
                @if (contx.HttpContext.Session.GetString("User") == null)
                {
                    <button class="btn btn-outline-dark ms-lg-2" onclick="RedirectLogin()">Login</button>
                }                
                </div>
            </div>
        </nav>
        <!-- Header-->
        <div class="header">
            <img  style="width: 100%; height: 550px;" src="https://a.ipricegroup.com/trends-article/top-3-mau-giay-converse-duoc-cac-ngoi-sao-quoc-te-ua-chuong-medium.jpg">
        </div>
        <!-- Section-->
        <nav class="nav nav-pills flex-lg-grow-0 flex-sm-row" style="background: buttonshadow">
        <a class="pd flex-sm-fill text-sm-center nav-link  @((string)@ViewData["CurrentCid"]=="" ? "":" active") ms-lg-2 my-2" aria-current="page" href="/Home/Home?Id=" style="background-color: rgb(80,199,199);">All</a>
                @foreach (Category e in ViewBag.Categories)
                {
            <a class="pd flex-sm-fill text-sm-center nav-link @(e.Id==(string)@ViewData["CurrentCid"]?" ":" active") ms-lg-2 my-2" aria-current="page" href="/Home/Home?Id=@e.Id" style="background-color: rgb(80,199,199);">@e.Name</a>
                }
            
        </nav>

    <section class="bg-dark py-5">      
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach (Product p in Model)
                        {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@p.Name</h5>
                                    <!-- Product price-->
                                    $@p.Price
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
           
        
                                      
        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">               
                        @for (int i = 1; i <= (int)ViewData["TotalPage"]; i++){
                    <li class="page-item @((int)ViewData["CurrentPage"] == i ? "active":"nonactive")"><a class="page-link" href="/Home/Home?Id=@ViewData["CurrentCid"]&page=@i&search=@ViewBag.Search">@i</a></li>
                        }              
            </ul>
        </nav>
    </c:if>                       

</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Sneker SNS</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>

                        