﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SNS Sneaker</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="https://media3.scdn.vn/img2/2018/7_2/Rzvn1z.jpg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div style="width: 50%;margin: auto;border: 1px solid; padding: 1rem;" class="mt-5">
        <h2>Login</h2>
        <form action="/Login/CheckLogin">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="passworld" />
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                <h2 style="color: red">@ViewBag.error</h2>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="/Login/Register">Register</a></p>
            </div>

        </form>
    </div>


</body>
</html>