﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject IHttpContextAccessor contx;
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SNS Sneaker</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="https://media3.scdn.vn/img2/2018/7_2/Rzvn1z.jpg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div style="width: 50%;margin: auto;border: 1px solid; padding: 1rem;" class="mt-5">
        <h2>Detail Account</h2>
        <form action="EditProfile">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="user" value="@contx.HttpContext.Session.GetString("User")" readonly/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" name="name" value="@contx.HttpContext.Session.GetString("NameUser")" required />
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" name="phone" value="@contx.HttpContext.Session.GetString("Phone")" required/>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="email" value="@contx.HttpContext.Session.GetString("Email")" required />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">Adress</label>
                <input type="text" class="form-control" name="address" value="@contx.HttpContext.Session.GetString("Address")" required />
            </div>
            @if (ViewBag.Success != null){
                <h2 style="color: green">@ViewBag.Success</h2>
            }
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Edit</button>
            <!-- Register buttons -->
        </form>
    </div>


</body>
</html>
